
/*
 PingFangSC-Regular
 * */
.regular-22{
	font-size:.22rem;
	font-family: PingFangSC-Regular;
}
.regular-24{
	font-size:.24rem;
	font-family: PingFangSC-Regular;
}
.regular-26{
	font-size:.26rem;
	font-family: PingFangSC-Regular;
}
.regular-28{
	font-size:.28rem;
	font-family: PingFangSC-Regular;
}
.regular-3{
	font-size:.3rem;
	font-family: PingFangSC-Regular;
}
/*
 PingFangSC-Light
 * */
.light-22{
	font-size:.22rem;
	font-family: PingFangSC-Light;
}
.light-24{
	font-size:.24rem;
	font-family: PingFangSC-Light;
}
.light-26{
	font-size:.26rem;
	font-family: PingFangSC-Light;
}
.light-28{
	font-size:.28rem;
	font-family: PingFangSC-Light;
}
.light-30{
	font-size:.3rem;
	font-family: PingFangSC-Light;
}
.light-34{
	font-size:.34rem;
	font-family: PingFangSC-Light;
}

/*
 PingFangSC-Medium
 * */
.medinu-22{
	font-size:.22rem;
	font-family: PingFangSC-Medium;
}
.medinu-24{
	font-size:.24rem;
	font-family: PingFangSC-Medium;
}
.medinu-26{
	font-size:.26rem;
	font-family: PingFangSC-Medium;
}
.medinu-28{
	font-size:.28rem;
	font-family: PingFangSC-Medium;
}
.medinu-3{
	font-size:.3rem;
	font-family: PingFangSC-Medium;
}
