/*  size24   */
.font-pfsc24-m {
	font-size: 0.24rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc24-r {
	font-size: 0.24rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc24-b {
	font-size: 0.24rem;
	font-family: PingFangSC-Bold;
}
.font-dina24-m {
	font-size: 0.24rem;
	font-family: DINAlternate-Medium;
}
.font-dina24-r {
	font-size: 0.24rem;
	font-family: DINAlternate-Regular;
}
.font-dina24-b {
	font-size: 0.24rem;
	font-family: DINAlternate-Bold;
}
/*  size26   */
.font-pfsc26-m {
	font-size: 0.26rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc26-r {
	font-size: 0.26rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc26-b {
	font-size: 0.26rem;
	font-family: PingFangSC-Bold;
}
.font-dina26-m {
	font-size: 0.26rem;
	font-family: DINAlternate-Medium;
}
.font-dina26-r {
	font-size: 0.26rem;
	font-family: DINAlternate-Regular;
}
.font-dina26-b {
	font-size: 0.26rem;
	font-family: DINAlternate-Bold;
}
/*  size28   */
.font-pfsc28-m {
	font-size: 0.28rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc28-r {
	font-size: 0.28rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc28-b {
	font-size: 0.28rem;
	font-family: PingFangSC-Bold;
}
.font-dina28-m {
	font-size: 0.28rem;
	font-family: DINAlternate-Medium;
}
.font-dina28-r {
	font-size: 0.28rem;
	font-family: DINAlternate-Regular;
}
.font-dina28-b {
	font-size: 0.28rem;
	font-family: DINAlternate-Bold;
}
/*  size30   */
.font-pfsc30-m {
	font-size: 0.30rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc30-r {
	font-size: 0.30rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc30-b {
	font-size: 0.30rem;
	font-family: PingFangSC-Bold;
}
.font-dina30-m {
	font-size: 0.30rem;
	font-family: DINAlternate-Medium;
}
.font-dina30-r {
	font-size: 0.30rem;
	font-family: DINAlternate-Regular;
}
.font-dina30-b {
	font-size: 0.30rem;
	font-family: DINAlternate-Bold;
}
/*  size32   */
.font-pfsc32-m {
	font-size: 0.32rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc32-r {
	font-size: 0.32rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc32-b {
	font-size: 0.32rem;
	font-family: PingFangSC-Bold;
}
.font-dina32-m {
	font-size: 0.32rem;
	font-family: DINAlternate-Medium;
}
.font-dina32-r {
	font-size: 0.32rem;
	font-family: DINAlternate-Regular;
}
.font-dina32-b {
	font-size: 0.32rem;
	font-family: DINAlternate-Bold;
}
/*  size34   */
.font-pfsc34-m {
	font-size: 0.34rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc34-r {
	font-size: 0.34rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc34-b {
	font-size: 0.34rem;
	font-family: PingFangSC-Bold;
}
.font-dina34-m {
	font-size: 0.34rem;
	font-family: DINAlternate-Medium;
}
.font-dina34-r {
	font-size: 0.34rem;
	font-family: DINAlternate-Regular;
}
.font-dina34-b {
	font-size: 0.34rem;
	font-family: DINAlternate-Bold;
}
/*  size42   */
.font-pfsc42-m {
	font-size: 0.42rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc42-r {
	font-size: 0.42rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc42-b {
	font-size: 0.42rem;
	font-family: PingFangSC-Bold;
}
.font-dina42-m {
	font-size: 0.42rem;
	font-family: DINAlternate-Medium;
}
.font-dina42-r {
	font-size: 0.42rem;
	font-family: DINAlternate-Regular;
}
.font-dina42-b {
	font-size: 0.42rem;
	font-family: DINAlternate-Bold;
}
/*  size44   */
.font-pfsc44-m {
	font-size: 0.44rem;
	font-family: PingFangSC-Medium;
}
.font-pfsc44-r {
	font-size: 0.44rem;
	font-family: PingFangSC-Regular;
}
.font-pfsc44-b {
	font-size: 0.44rem;
	font-family: PingFangSC-Bold;
}
.font-dina44-m {
	font-size: 0.44rem;
	font-family: DINAlternate-Medium;
}
.font-dina44-r {
	font-size: 0.44rem;
	font-family: DINAlternate-Regular;
}
.font-dina44-b {
	font-size: 0.44rem;
	font-family: DINAlternate-Bold;
}